@font-face {
    font-family: Besom;
    src: url(fonts/Besom-free-font.ttf) format("truetype");
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf) format("truetype");
}


@page {
    size: A4;
}

.section {
    border: 0; 
    height: 5px;
    background-color:  #286BA2;
}

.title {
    font-family: Besom;
    color: #1D74A7;
}

.header img {
    float: left;
    width: 6cm; 
    height: auto;
}
.header h1, h3 {
    position: relative;
}

.graphic {
    width: 15cm;
    height: auto;
    position: relative;
}

.graphics-row {
    display: inline;
    align-content: center;
}

.graphics-col {
    align-content: center;
}

.caption {
    font-family: Roboto;
}

.numeric_grade p {
    font-family: Roboto;
    float: right;
}

.numeric_grade h1 {
    float: left;
    position: relative;
    margin-top: -5.5mm;
    font-size: 3.5em;
}