<!--
 Nome:{{name}}
CPF: {{cpf}}

Idioma: {{idiom}}
PAA: {{quota}}

Pontuacao total: {{pontuacao_total}}

Desempenho por Materia
{% for materia in materias%}
> {{materia}} : {{notas[materia]}}
{%endfor%}
 -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="feedback_template.css">
</head>

<!-- body -->
<body>
	<div> <!-- class='header' --> 
        <img src='images/azulhorizontal.png'/>
        <center>
            <h1 class='title'> Simulado ENEM </h1>
            <h2 class='title'>{{ name }}</h2>
        </center>
    </div>

	<hr class='section'>
    
    <div>
    
    	<h2 class='title'>Relatório do simulado</h2>
        <table>
            <tr>
                <th>Matéria</th>
                <th>Nota</th>
            </tr>
            {% for materia in materias %}
            <tr>
                <td> {{materia}} </td>
                <td> {{notas[materia]}} </td>
            </tr>
            {% endfor %}


        </table>

    
        <h1>Pontuação por matéria</h1><br>
        <p>
        	CPF: {{cpf}} <br>
			Idioma: {{idiom}} <br>
			PAA: {{quota}} <br>
            <hr>
			Pontuacao total: {{pontuacao_total}} <br>

        	{% for materia in materias%}
			 {{materia}} : {{notas[materia]}}<br>
			{%endfor%}
			
        </p>
    
    </div>
















</body>
</html>